<!DOCTYPE html>
<html lang="en" ng-app="grub" ng-controller="portal">
<head>
<link href="../css/estilo.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8" >
    <meta content="application/json X-Content-Type-Options: nosniff" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <script src="https://code.angularjs.org/1.7.8/angular-resource.js"></script>
    <script src="../src/rsa.js"></script>
    <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
    <script src="../src/controller.js"></script>
    <script  src="../src/chamada/factory.js"></script>
    <script src="../src/chamada/datatime.js"></script>
    <script src="../src/chamada/http_envio.js"></script>
    <script src="../src/portal de acesso/factory_acesso.js"></script>
    <script src="../src/portal de acesso/http_envio_acesso.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zingchart/2.8.6/zingchart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zingchart-angularjs/1.2.0/zingchart-angularjs.js"></script>
</head>
<body >
            <img src="../imagens/iprem.PNG"/></br>
            <div class="inputs">
                    <input type="text" ng-model="login" /></br>
                    <input type="password" ng-model="senha" /></br>
                    <span>   {{alerta}}  </span>
            </div>
                    <input type="submit" ng-disabled="disabled" ng-model="botao"  ng-click="enviar(login,senha)" value="Entrar"/>
           
    

</body>
</html>