<!DOCTYPE html>
<html lang="en" ng-app="grub" ng-controller="portal">
<head>
    <meta charset="UTF-8" >
    <meta content="application/json X-Content-Type-Options: nosniff" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <script src="https://code.angularjs.org/1.7.8/angular-resource.js"></script>
    <script src="../src/rsa.js"></script>
    <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
    <script src="../src/controller.js"></script>
    <script  src="../src/chamada/factory.js"></script>
    <script src="../src/chamada/http_envio.js"></script>
    <script src="../src/portal de acesso/factory_acesso.js"></script>
    <script src="../src/portal de acesso/http_envio_acesso.js"></script>
</head>
<body >
 
            <label> login</label>
            <input type="text" ng-model="login"/></br>
            <label>Senha</label>
            <input type="password" ng-model="senha" /></br>
            <input type="submit" ng-disabled="disabled" ng-model="botao"  ng-click="enviar(login,senha)" value="Entrar"/>
            <span>{{alerta}}</span>
    

</body>
</html>