<!DOCTYPE html>
<html lang="en" ng-app="grub"  ng-controller="site"  > 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilo_pagina.css">
    <script src="../css/utlil.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
    <script src="https://code.angularjs.org/1.7.8/angular-resource.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="../src/rsa.js"></script>
    <script src="../src/controller.js"></script>
    <script  src="../src/chamada/factory.js"></script>
    <script src="../src/chamada/datatime.js"></script>
    <script src="../src/chamada/http_envio.js"></script>
    <script src="../src/portal de acesso/factory_acesso.js"></script>
    <script src="../src/portal de acesso/http_envio_acesso.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
</head>
<body ng-init="dados_recebidos()">
   <header class="cabeçalho"></header>
   <div class="opções">
        <a  ng-click="enable_adicionar()" ng-show="link_adicionar" class="aulas">Adicionar aulas</a>
        <a  ng-click="enable_lista()"  class="chamada">Chamada</a>
    
        <a  ng-click="enable_Pesquisar()" class="pesquisar" >Pesquisar aulas</a>
        
    </div>
    <div class="container">
            <div class="row">
                    <div class="col-sm-9" ng-show="lista"  >
                            <label >Alunos:</label>
                            <input type="text" ng-model="nome" />
                            <label >Chamada:</label>
                            <select  ng-model="chamada" >
                                <option value="presente">presente</option>
                                <option value="falta">falta</option>
                            </select>
                            <label class="turma">Turmas:</label>
                            <select ng-model="tipo_turma" >
                                
                                                <option value="Primeiro_modulo_primeiro" >Primeiro horario da primeira turma </option>
                                                <option value="Primeiro_modulo_segundo">Segunda horario da primeira turma</option>
                                                <option value="segundo_modulo">Primeiro horario da segunda turma</option>

                            </select>
                            <input type="submit" class="adicionar" value="Adicionar" ng-click="insert(nome,chamada,tipo_turma)" />
                            <input type="submit" class="deletar" value="deletar" ng-click="visualizar()"/>
                                   
                          
                            
                    </div>
                   
                           
                       
                    <div class="col-sm-9" ng-show="Adicionar" >
                            <label >Inicio:</label>
                            <input type="date" ng-model="inicial" />
                            <label >final:</label>
                            <input type="date"  ng-model="final"/>
                            <label >Dias de aulas:</label>
                            <label id="lista"></label>
                            <img src="https://img.icons8.com/windows/24/000000/plus.png" ng-click="adicionar_elemento()">
                            <img src="https://img.icons8.com/material/24/000000/filled-trash.png" ng-click="remover_elemento()" ng-show="remover">
                            <input type="submit" class="salvar_datas" value="salvar"  ng-click="salvar_inicial_final(inicial,final)" />
                    </div>  
                    <div class="chart-container" style=" position: relative; height:20vh; width:40vw">
                        <canvas ng-show="Pesquisar" id="myChart"  ></canvas>
                      
                        
                        </div>
                        <div class="chart-container" style=" left: 50vh; bottom:20vh;  position: relative; height:20vh; width:40vw">
                                <canvas  ng-show="Pesquisar"  id="myChart2"></canvas>
                        </div>
                        <div class="chart-container" style="left: 105vh; bottom:40vh; position: relative; height:20vh; width:40vw">
                                <canvas  ng-show="Pesquisar"  id="myChart3"  ></canvas>
                        </div>
                               
                             

                                

                    <div class="col-sm-3" ng-show="date">
                            Escolher data: <input type="date" ng-model="data_informata" /></br>
                            id:<input type="number" class="numero" ng-model="numero"/>
                            Turmas:
                            <select ng-model="escolher_turma" >
                                <option value="Primeiro_modulo_primeiro" >Primeiro horario da primeira turma </option>
                                <option value="Primeiro_modulo_segundo">Segunda horario da primeira turma</option>
                                <option value="segundo_modulo">Primeiro horario da segunda turma</option>
                           </select></br>
                           
                            <input type="submit" value="salvar" class="deletar" ng-click="deletar(data_informata,numero,escolher_turma)" />
                    </div>
                    

            </div>
    </div>
    <footer class="rodape">

    </footer>
   
</body>
</html>