.opções{
    margin: 15% auto auto 35%;
}
.opções .aulas{
    padding: 3%;
    cursor: pointer;
    color: rgb(160, 206, 78);

}

.opções .chamada{
    padding: 3%;
    cursor: pointer;
    color: rgb(160, 206, 78);
}
.opções .pesquisar{
    padding: 3%;
    cursor: pointer;
    color: rgb(160, 206, 78);
}
.cabeçalho {
    background-color: rgb(160, 206, 78);
    padding: 2%;

}
.opções .sair{
    padding: 3%;
    cursor: pointer;
    color: rgb(160, 206, 78);
}
.rodape{
    background-color: rgb(160, 206, 78);
    bottom: 0%;
    padding: 1.5%;
    position:absolute;
    width:100%;
}
.container .row .col-sm-9{
   margin-left: 16%;
   margin-top: 10%;
}
.container .row .col-sm-9 .adicionar{
    background-color: rgb(160, 206, 78);
    border: 2px solid rgb(160, 206, 78);
}
.container .row .col-sm-9 .deletar{
    background-color: rgb(160, 206, 78);
    border: 2px solid rgb(160, 206, 78);
}
.container .row .col-sm-3 {
    margin-left: 80%;   
}
.container .row .col-sm-3 .numero{
   margin-left: 30%;
   width: 152px;
}
.container .row .col-sm-3 .deletar{
    background-color: rgb(160, 206, 78);
    border: 2px solid rgb(160, 206, 78);
    margin-left: 73%;
}
#lista{
    margin-left: auto;
}
.container .row .col-sm-9 .salvar_datas{
    background-color: rgb(160, 206, 78);
    border: 2px solid rgb(160, 206, 78);
}
.container .row .col-sm-3 select{
width: 58%;
margin-left: 15%;  
}
#texto
{
    margin-top: 5%;
    margin-left: 20%;

}
.Alunos{
   padding:0% 30% 40% 30%; 
}
.linha{
    padding-left: 13px;
}