<!DOCTYPE html>
<html lang="en" ng-app="grub"  ng-controller="programa2"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
    <script src="../src/controller.js"></script>
    <script  src="../src/factory.js"></script>
</head>
<body >
    <input type="submit" ng-click="listar()" value="listar"/>
    <input type="submit" value="insert" ng-click="insert()"/>
    <span id="texto"></span>
</body>
</html>